{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block stylesheet %}
 <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}
{% block content %}
<div class="bg-logout">
    <div class="container-fluid p-5">
        <div class="row justify-content-center p-5">
            <fieldset class="p-5 bg-white mb-5">
                <legend class="border border-secondary p-2">Changing Password</legend>
                <form method="post" novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-success mb-5">Change password</button>
                </form>
            </fieldset>
        </div>
    </div>
</div>
{% endblock %}